// 1. Abstracts: Variables, functions, and mixins that are used by other Sass files.
@use 'sass:meta';
@use 'abstracts/variables' as v;

// Define a mixin to load all styles
@mixin load-styles {
  // 2. Reset: A modern CSS reset.
  @include meta.load-css('reset');

  // 3. Base: Base styles for the grid system.
  @include meta.load-css('base/grid-base');

  // 4. Utilities: All utility classes.
  @include meta.load-css('utilities/grid');
  @include meta.load-css('utilities/typography');
  @include meta.load-css('utilities/utilities');
  @include meta.load-css('utilities/borders');
  @include meta.load-css('utilities/shadows');
  @include meta.load-css('utilities/positioning');
  @include meta.load-css('utilities/helpers');
}

// Apply scoping if configured
@if v.$css-scope {
  #{v.$css-scope} {
    @include load-styles;
  }
} @else {
  @include load-styles;
}
