// --- Import Abstracts ---
@use 'sass:meta';
@use 'abstracts/variables' as v;

// Mixin to load all framework styles
@mixin load-styles {
  // --- Reset ---
  @include meta.load-css('reset');

  // --- Base Styles ---
  @include meta.load-css('base/grid-base');

  // --- Utility Classes ---
  @include meta.load-css('utilities/grid');
  @include meta.load-css('utilities/typography');
  @include meta.load-css('utilities/utilities');
  @include meta.load-css('utilities/borders');
  @include meta.load-css('utilities/shadows');
  @include meta.load-css('utilities/positioning');
  @include meta.load-css('utilities/helpers');
}

// --- Scoping Configuration ---
// Apply CSS scoping if a scope selector is defined.
@if v.$css-scope {
  #{v.$css-scope} {
    @include load-styles;
  }
} @else {
  @include load-styles;
}
