@use 'sass:map';
@use '../abstracts/variables' as v;

// --- Border Utilities ---

.border {
  border: v.$border-width solid v.$border-color;
}

.border-top {
  border-top: v.$border-width solid v.$border-color;
}

.border-end {
  border-right: v.$border-width solid v.$border-color;
}

.border-bottom {
  border-bottom: v.$border-width solid v.$border-color;
}

.border-start {
  border-left: v.$border-width solid v.$border-color;
}

.border-0 {
  border: 0;
}

.border-top-0 {
  border-top: 0;
}

.border-end-0 {
  border-right: 0;
}

.border-bottom-0 {
  border-bottom: 0;
}

.border-start-0 {
  border-left: 0;
}

// --- Border Radius Utilities ---

@each $name, $radius in v.$border-radius {
  $class-name: if($name, '-#{$name}', '');
  .rounded#{$class-name} {
    border-radius: $radius;
  }
}

.rounded-top {
  border-top-left-radius: map.get(v.$border-radius, null);
  border-top-right-radius: map.get(v.$border-radius, null);
}

.rounded-bottom {
  border-bottom-right-radius: map.get(v.$border-radius, null);
  border-bottom-left-radius: map.get(v.$border-radius, null);
}

.rounded-start {
  border-bottom-left-radius: map.get(v.$border-radius, null);
  border-top-left-radius: map.get(v.$border-radius, null);
}

.rounded-end {
  border-top-right-radius: map.get(v.$border-radius, null);
  border-bottom-right-radius: map.get(v.$border-radius, null);
}
