@use "sass:math";
@use "../abstracts/variables" as v;

// --- SCSS Loops to Generate All Classes ---
@each $name, $breakpoint in v.$grid-breakpoints {

  // The smallest breakpoint (xs: 0) classes don't need a media query
  // This loop generates .col-1, .col-2, ... .col-12
  @if ($breakpoint ==0) {
    @for $i from 1 through v.$grid-columns {
      .col-#{$i} {
        flex-basis: math.div(100%, v.$grid-columns) * $i;
        max-width: math.div(100%, v.$grid-columns) * $i;
      }
    }

    // Generates .col (for auto-sizing columns)
    .col {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }
  }

  // All other breakpoints (sm, md, lg, xl, xxl) are wrapped in media queries
  @else {
    @media (min-width: $breakpoint) {

      // Generates .col-sm-1, .col-lg-8, etc.
      @for $i from 1 through v.$grid-columns {
        .col-#{$name}-#{$i} {
          flex-basis: math.div(100%, v.$grid-columns) * $i;
          max-width: math.div(100%, v.$grid-columns) * $i;
        }
      }

      // Generates .col-sm, .col-md, etc.
      .col-#{$name} {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
      }
    }
  }
}
