@use 'sass:math';
@use '../abstracts/variables' as v;

// --- Grid Class Generation ---
@each $name, $breakpoint in v.$grid-breakpoints {
  // Generate default column classes (xs) without media queries.
  // This loop generates .col-1, .col-2, ... .col-12
  @if ($breakpoint ==0) {
    @for $i from 1 through v.$grid-columns {
      .col-#{$i} {
        flex-basis: math.div(100%, v.$grid-columns) * $i;
        max-width: math.div(100%, v.$grid-columns) * $i;
      }
    }

    // Generate auto-sizing column class (.col)
    .col {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }
  }

  // Generate responsive column classes for larger breakpoints (sm, md, etc.)
  @else {
    @media (min-width: $breakpoint) {
      // Generate numbered column classes (e.g., .col-sm-1)
      @for $i from 1 through v.$grid-columns {
        .col-#{$name}-#{$i} {
          flex-basis: math.div(100%, v.$grid-columns) * $i;
          max-width: math.div(100%, v.$grid-columns) * $i;
        }
      }

      // Generate auto-sizing responsive column classes (e.g., .col-sm)
      .col-#{$name} {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
      }
    }
  }
}
