@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

// Iterate through breakpoints to generate responsive utilities
@each $name, $breakpoint in v.$grid-breakpoints {
  // Determine class infix (e.g., "-sm") based on breakpoint
  $infix: if($breakpoint ==0, '', '-#{$name}');

  // Generate base utility classes (xs)
  @if ($breakpoint ==0) {
    @include m.generate-classes($infix);
  }

  // Generate responsive utility classes inside media queries
  @else {
    @media (min-width: $breakpoint) {
      @include m.generate-classes($infix);
    }
  }
}

// --- Width Utilities ---
@each $name, $breakpoint in v.$grid-breakpoints {
  $infix: if($breakpoint ==0, '', '-#{$name}');

  @if ($breakpoint ==0) {
    .w-100 {
      width: 100% !important;
    }

    .w-auto {
      width: auto !important;
    }
  } @else {
    @media (min-width: $breakpoint) {
      .w#{$infix}-100 {
        width: 100% !important;
      }

      .w#{$infix}-auto {
        width: auto !important;
      }
    }
  }
}
