@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --vp-font-family-base: 'Inter', sans-serif !important;
  --vp-font-family-mono: 'Inter', sans-serif !important;
}

html,
body {
  font-family: 'Inter', sans-serif !important;
}

ul li,
ol li {
  line-height: 1.5;
}
